.card-checkout{
    background-color: #fbf6f7;
    width: 850px;
    height: auto;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    margin: 40px auto;
}

.line{
    border-top: 1px solid #dee2e6;
}

.deleteBttn{
    cursor: pointer;
}

.deleteBttn:hover{
    color:#6c757d;
}

.totalContainer{
    width: 420px;
    justify-content: space-between;
}